/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #303030;
  color: #000000;
}

body {
  background: url('./assets/ducksBackground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  background-color: #79b4ff;
  opacity: 0.9;
}

.firstBox {
  background-color: #79b4ff;
  opacity: 0.9;
}

.words {
  font-family: 'Montserrat';
  font-weight: normal;
  text-align: center;
}

.titleWords {
  font-family: 'Montserrat';
  font-weight: bolder;
  text-align: center;
}

.mainWords {
  font-family: 'Montserrat';
  font-weight: bolder;
  text-align: center;
}

.header {
  font-family: 'Bebas Neue';
  color: #79b4ff;
  font-weight: bolder;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.connectButton {
  border-radius: 18px !important;
  padding: 6px 16px;
  max-width: 500px;
  background-color: #79b4ff;
  margin: 0 auto;
  cursor: pointer;
}

.refreshButton {
  border-radius: 18px !important;
  padding: 6px 16px;
  max-width: 500px;
  background-color: #ffffff;
  margin: 5px;
}

.navText {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  letter-spacing: 2px;
  color: #79b4ff;
}

.connectText {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.cardTitle {
  font-family: 'Bebas Neue';
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  margin-top: 75px;
  height: 100px;
  background: #0a1118;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer h1 {
  font-weight: 400;
}

.buttonBorder {
  border-color: black;
  border-width: 3px;
}

.nft-card {
  width: 30%;
  height: 30%;
}

.nft-card:hover {
  @apply border-4 border-solid border-gray-200;
}

.card-selected {
  @apply border-4 border-solid opacity-50;
  border-color: black !important;
}

.nftGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
