@import './reset.css';

html, body {
    background-color: #303030;
    color: #FFFFFF;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: url(mile_high_airline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
